body {
  background: var(--negro);
  color: var(--cream);
  cursor: auto;
  scroll-behavior: smooth;
}

a, button, [role="button"] {
  cursor: auto;
}

.admin-panel .custom-cursor {
  display: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
